<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reminiscens"
    android:versionCode="1"
    android:versionName="1.0" >

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Subscribe"
            android:screenOrientation="landscape"
            android:theme="@style/mytheme" >
        </activity>
        <activity
            android:name=".Home"
            android:screenOrientation="landscape"
            android:theme="@style/mytheme" >
        </activity>
        <activity
            android:name=".ViewStory"
            android:screenOrientation="landscape"
            android:theme="@style/mytheme" >
        </activity>
        <activity
            android:name=".QuestionAnswer"
            android:screenOrientation="landscape"
            android:theme="@style/mytheme" >
        </activity>
        <activity
            android:name=".NewEditStory"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape"
            android:theme="@style/mytheme" >
        </activity>
        <activity
            android:name=".Recorder"
            android:screenOrientation="portrait"
            android:theme="@style/mytheme" >
        </activity>
        <activity
            android:name=".PictureFullscreen"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
    </application>

</manifest>